body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: "chewy";
}

.home-screen {
    text-align: center;
    padding: 50px;
}

.home-container {
    background: white;
    padding: 30px;
    width: 300px;
    margin: 0 auto;
    border: 2px solid black;
}

.home-buttons button {
    padding: 15px 30px;
    margin: 10px;
    background-color: navy;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background: white;
    padding: 20px;
    width: 400px;
    margin: 100px auto;
    border: 2px solid black;
}

.close-popup {
    float: right;
    font-size: 24px;
    cursor: pointer;
}
